
.nav-header {
        background: #4aaaa5;
        color:white;
        font-size: 30px;
        font-weight: 700;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 90px;
        margin-left: 10px;
        margin-right:10px;
        width:345px;
        text-align:center;
        margin-left:180px;
}
.nav-item {
    border-left: 1px solid #efefef;
    line-height: 18px;
    color:#999;
    font-size:18px;
}
.navbar {
    border-bottom: 2px solid #ccc;
    margin-left: 10px;
}

ul .navlinks {
    margin-top: 20px;
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    margin-top:150px;
}
.f1con {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
.desc {
    position: relative;
    left: 15px;
    bottom: 75px;
    padding: 10px;
    width: 256px;
    text-align: center;
    background-color: #4aaaa5;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}

@media screen and (max-width:640px){
.nav-header{
    margin-left:0px;
    width:100%;
    color:white;
    margin-right:0px;
}

